<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletPizzaPersonalizada</servlet-name>
        <servlet-class>ulima.edu.pe.servlet.ServletPizzaPersonalizada</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPedidoPersonalizado</servlet-name>
        <servlet-class>ulima.edu.pe.servlet.ServletPedidoPersonalizado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRegistrarse</servlet-name>
        <servlet-class>ulima.edu.pe.servlet.ServletRegistrarse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>ulima.edu.pe.servlet.ServletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPedidoPersonalizadoIngresado</servlet-name>
        <servlet-class>ulima.edu.pe.servlet.ServletPedidoPersonalizadoIngresado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPizzasPredeterminadas</servlet-name>
        <servlet-class>ulima.edu.pe.servlet.ServletPizzasPredeterminadas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPedidoPredeterminado</servlet-name>
        <servlet-class>ulima.edu.pe.servlet.ServletPedidoPredeterminado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPedidoPredeterminadoIngresado</servlet-name>
        <servlet-class>ulima.edu.pe.servlet.ServletPedidoPredeterminadoIngresado</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletPizzaPersonalizada</servlet-name>
        <url-pattern>/sPizzaPersonalizada</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPedidoPersonalizado</servlet-name>
        <url-pattern>/sPedidoPersonalizado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRegistrarse</servlet-name>
        <url-pattern>/sRegistrarse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/sLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPedidoPersonalizadoIngresado</servlet-name>
        <url-pattern>/sPedidoPersonalizadoIngresado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPizzasPredeterminadas</servlet-name>
        <url-pattern>/sPizzasPredeterminadas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPedidoPredeterminado</servlet-name>
        <url-pattern>/sPedidoPredeterminado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPedidoPredeterminadoIngresado</servlet-name>
        <url-pattern>/sPedidoPredeterminadoIngresado</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
