<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletIngrediente</servlet-name>
        <servlet-class>ulima.edu.pe.servlet.ServletIngrediente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPedido</servlet-name>
        <servlet-class>ulima.edu.pe.servlet.ServletPedido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRegistrarse</servlet-name>
        <servlet-class>ulima.edu.pe.servlet.ServletRegistrarse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>ulima.edu.pe.servlet.ServletLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletIngrediente</servlet-name>
        <url-pattern>/sIngrediente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPedido</servlet-name>
        <url-pattern>/sPedido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRegistrarse</servlet-name>
        <url-pattern>/sRegistrarse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/sLogin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
